<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="common/head :: head"></div>

<body class="page-container-bg-solid page-header-menu-fixed">
<div class="page-wrapper">
    <div th:replace="common/header :: header"></div>
    <div class="page-wrapper-row full-height">
        <div class="page-wrapper-middle">
            <!-- BEGIN CONTAINER -->
            <div class="page-container">
                <!-- BEGIN CONTENT -->
                <div class="page-content-wrapper">
                    <!-- BEGIN PAGE CONTENT BODY -->
                    <div class="page-content">
                        <div class="container">
                            <!-- BEGIN PAGE BREADCRUMBS -->
                            <ul class="page-breadcrumb breadcrumb">
                                <li>
                                    <a href="index.html">Home</a>
                                    <i class="fa fa-circle"></i>
                                </li>
                                <li>
                                    <a href="#">Pages</a>
                                    <i class="fa fa-circle"></i>
                                </li>
                                <li>
                                    <span>General</span>
                                </li>
                            </ul>
                            <!-- END PAGE BREADCRUMBS -->
                            <!-- BEGIN PAGE CONTENT INNER -->
                            <div class="page-content-inner">
                                <div class="blog-page blog-content-1">
                                    <div class="col-sm-3">
                                        <div class="blog-post-sm bordered blog-container">
                                            <div class="blog-img-thumb">
                                                <a href="/content">
                                                    <img src="/assets/pages/img/page_general_search/1.jpg"/>
                                                </a>
                                            </div>
                                            <div class="blog-post-content">
                                                <h2 class="blog-title blog-post-title">
                                                    <a href="/content">Metronic Blog Post</a>
                                                </h2>
                                                <p class="blog-post-desc"> Lorem ipsum dolor sit amet adipiscing elit,
                                                    sed diam nonummy </p>
                                                <div class="blog-post-foot">
                                                    <div class="blog-post-meta">
                                                        <i class="icon-calendar font-blue"></i>
                                                        <a href="javascript:;">Oct 24, 2015</a>
                                                    </div>
                                                    <div class="blog-post-meta">
                                                        <i class="icon-bubble font-blue"></i>
                                                        <a href="javascript:;">14 Comments</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="blog-post-sm bordered blog-container">
                                            <div class="blog-img-thumb">
                                                <a href="/content">
                                                    <img src="/assets/pages/img/page_general_search/02.jpg"/>
                                                </a>
                                            </div>
                                            <div class="blog-post-content">
                                                <h2 class="blog-title blog-post-title">
                                                    <a href="/content">Metronic Blog Post</a>
                                                </h2>
                                                <p class="blog-post-desc"> Lorem ipsum dolor sit amet adipiscing elit,
                                                    sed diam nonummy </p>
                                                <div class="blog-post-foot">
                                                    <div class="blog-post-meta">
                                                        <i class="icon-calendar font-blue"></i>
                                                        <a href="javascript:;">Oct 24, 2015</a>
                                                    </div>
                                                    <div class="blog-post-meta">
                                                        <i class="icon-bubble font-blue"></i>
                                                        <a href="javascript:;">14 Comments</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="blog-post-sm bordered blog-container">
                                            <div class="blog-img-thumb">
                                                <a href="javascript:;">
                                                    <img src="/assets/pages/img/page_general_search/2.jpg"/>
                                                </a>
                                            </div>
                                            <div class="blog-post-content">
                                                <h2 class="blog-title blog-post-title">
                                                    <a href="javascript:;">Metronic Blog Post</a>
                                                </h2>
                                                <p class="blog-post-desc"> Lorem ipsum dolor sit amet adipiscing elit,
                                                    sed diam nonummy </p>
                                                <div class="blog-post-foot">
                                                    <div class="blog-post-meta">
                                                        <i class="icon-calendar font-blue"></i>
                                                        <a href="javascript:;">Oct 24, 2015</a>
                                                    </div>
                                                    <div class="blog-post-meta">
                                                        <i class="icon-bubble font-blue"></i>
                                                        <a href="javascript:;">14 Comments</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="blog-post-sm bordered blog-container">
                                            <div class="blog-img-thumb">
                                                <a href="javascript:;">
                                                    <img src="/assets/pages/img/page_general_search/03.jpg"/>
                                                </a>
                                            </div>
                                            <div class="blog-post-content">
                                                <h2 class="blog-title blog-post-title">
                                                    <a href="javascript:;">Metronic Blog Post</a>
                                                </h2>
                                                <p class="blog-post-desc"> Lorem ipsum dolor sit amet adipiscing elit,
                                                    sed diam nonummy </p>
                                                <div class="blog-post-foot">
                                                    <div class="blog-post-meta">
                                                        <i class="icon-calendar font-blue"></i>
                                                        <a href="javascript:;">Oct 24, 2015</a>
                                                    </div>
                                                    <div class="blog-post-meta">
                                                        <i class="icon-bubble font-blue"></i>
                                                        <a href="javascript:;">14 Comments</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="blog-post-sm bordered blog-container">
                                            <div class="blog-img-thumb">
                                                <a href="javascript:;">
                                                    <img src="/assets/pages/img/page_general_search/1.jpg"/>
                                                </a>
                                            </div>
                                            <div class="blog-post-content">
                                                <h2 class="blog-title blog-post-title">
                                                    <a href="javascript:;">Metronic Blog Post</a>
                                                </h2>
                                                <p class="blog-post-desc"> Lorem ipsum dolor sit amet adipiscing elit,
                                                    sed diam nonummy </p>
                                                <div class="blog-post-foot">
                                                    <div class="blog-post-meta">
                                                        <i class="icon-calendar font-blue"></i>
                                                        <a href="javascript:;">Oct 24, 2015</a>
                                                    </div>
                                                    <div class="blog-post-meta">
                                                        <i class="icon-bubble font-blue"></i>
                                                        <a href="javascript:;">14 Comments</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="blog-post-sm bordered blog-container">
                                            <div class="blog-img-thumb">
                                                <a href="javascript:;">
                                                    <img src="/assets/pages/img/page_general_search/1.jpg"/>
                                                </a>
                                            </div>
                                            <div class="blog-post-content">
                                                <h2 class="blog-title blog-post-title">
                                                    <a href="javascript:;">Metronic Blog Post</a>
                                                </h2>
                                                <p class="blog-post-desc"> Lorem ipsum dolor sit amet adipiscing elit,
                                                    sed diam nonummy </p>
                                                <div class="blog-post-foot">
                                                    <div class="blog-post-meta">
                                                        <i class="icon-calendar font-blue"></i>
                                                        <a href="javascript:;">Oct 24, 2015</a>
                                                    </div>
                                                    <div class="blog-post-meta">
                                                        <i class="icon-bubble font-blue"></i>
                                                        <a href="javascript:;">14 Comments</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="blog-post-sm bordered blog-container">
                                            <div class="blog-img-thumb">
                                                <a href="javascript:;">
                                                    <img src="/assets/pages/img/page_general_search/02.jpg"/>
                                                </a>
                                            </div>
                                            <div class="blog-post-content">
                                                <h2 class="blog-title blog-post-title">
                                                    <a href="javascript:;">Metronic Blog Post</a>
                                                </h2>
                                                <p class="blog-post-desc"> Lorem ipsum dolor sit amet adipiscing elit,
                                                    sed diam nonummy </p>
                                                <div class="blog-post-foot">
                                                    <div class="blog-post-meta">
                                                        <i class="icon-calendar font-blue"></i>
                                                        <a href="javascript:;">Oct 24, 2015</a>
                                                    </div>
                                                    <div class="blog-post-meta">
                                                        <i class="icon-bubble font-blue"></i>
                                                        <a href="javascript:;">14 Comments</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="blog-post-sm bordered blog-container">
                                            <div class="blog-img-thumb">
                                                <a href="javascript:;">
                                                    <img src="/assets/pages/img/page_general_search/2.jpg"/>
                                                </a>
                                            </div>
                                            <div class="blog-post-content">
                                                <h2 class="blog-title blog-post-title">
                                                    <a href="javascript:;">Metronic Blog Post</a>
                                                </h2>
                                                <p class="blog-post-desc"> Lorem ipsum dolor sit amet adipiscing elit,
                                                    sed diam nonummy </p>
                                                <div class="blog-post-foot">
                                                    <div class="blog-post-meta">
                                                        <i class="icon-calendar font-blue"></i>
                                                        <a href="javascript:;">Oct 24, 2015</a>
                                                    </div>
                                                    <div class="blog-post-meta">
                                                        <i class="icon-bubble font-blue"></i>
                                                        <a href="javascript:;">14 Comments</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END PAGE CONTENT INNER -->
                        </div>
                    </div>
                    <!-- END PAGE CONTENT BODY -->
                </div>
                <!-- END CONTENT -->
            </div>
            <!-- END CONTAINER -->
        </div>
    </div>
    <div th:replace="common/footer :: footer"></div>
</div>
<div th:replace="common/script :: script"></div>
</body>

</html>