<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="common/admin/head :: head"></div>

    <body class="page-container-bg-solid page-header-fixed page-sidebar-closed-hide-logo">
        <div th:replace="common/admin/header :: header"></div>
        <div class="clearfix"> </div>
        <div class="page-container">
            <div th:replace="common/admin/left :: left"></div>
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    文章管理页面
                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
        </div>
        <div th:replace="common/admin/footer :: footer"></div>
        <div th:replace="common/admin/script :: script"></div>
    </body>
</html>